
@import url("./__website/places__website.css");
@import url("./__url-heading/places__url-heading.css");
@import url("./__url/places__url.css");
@import url("./__text/places__text.css");
@import url("./__item/places__item.css");
@import url("./__title/places__title.css");
@import url("./__image/places__image.css");

.places {
  font-family: Inter, Arial, sans-serif;
  color: white;
  padding: 92px 48px 102px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .places {
    padding: 102px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 102px 24px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    padding: 64px 0;
  }
}
